# Objects and Data Structures Assessment Test

## Test your knowledge. 

**Answer the following questions**

Write a brief description of all the following Object Types and Data Structures we've learned about:

Numbers:  Numbers in Python support the normal mathematical operations. For instance, the plus sign (+) performs addition, a star (*) is used for multiplication, and two stars ** and the numbers is sequence of digits and it can be integer or floats

Strings: Strings are used in Python to record text information, such as name and  characters 

Lists: can be thought of the most general version of a sequence in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed

Tuples:unlike lists they are immutable meaning they can not be changed. You would use tuples to present things that shouldn't be changed

Dictionaries: are a collection of objects that are stored by a key, unlike a sequence that stored objects by their relative position and each object consists of key and value pair

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
1/2+10**2-1/4

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

  1-  What is the value of the expression 4 * (6 + 5)
    
   2-  What is the value of the expression 4 * 6 + 5 
    
   3- What is the value of the expression 4 + 6 * 5

In [2]:
4*(6+5)  , 4*6+5 ,  4+6*5

(44, 29, 34)

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
Float

In [3]:
3+1.5+4

8.5

What would you use to find a numberâ€™s square root, as well as its square?

In [4]:
# Square root:
100**0.5

10.0

In [5]:
# Square:
10**2

100

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [6]:
s = 'hello'
# Print out 'e' using indexing

In [7]:
print(s[1])

e

Reverse the string 'hello' using slicing:

In [8]:
s ='hello'
# Reverse the string using slicing

In [9]:
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [10]:
s ='hello'
# Print out the 'o'

# Method 1:

In [11]:
print(s[-1])

o

In [12]:
# Method 2:

In [13]:
print(s[len(s) - 1])

o

## Lists

Build this list [0,0,0] two separate ways.

In [14]:
# Method 1:

In [15]:
my_list = [0, 0, 0]
print(my_list)

[0, 0, 0]

In [16]:
# Method 2:
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [17]:
list3 = [1,2,[3,4,'hello']]

In [18]:
list3[2][2] = "goodbye"
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [19]:
list4 = [5,3,4,6,1]

In [20]:
list4.sort()
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [21]:
d = {'simple_key':'hello'}
# Grab 'hello'

In [22]:
d["simple_key"]

'hello'

In [23]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'

In [24]:
d["k1"]["k2"]

'hello'

In [25]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello

In [26]:
d["k1"][0]["nest_key"][1][0]

'hello'

In [27]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

 Can you sort a dictionary? Why or why not?<br><br>
 No We can't be sorted  this because the dictionary items are difined by key and won't retain specific order and normal dictionaries are mappings not a sequence.

## Tuples

What is the major difference between tuples and lists?<br><br>
tuples is immutable but lists are mutable lists can be changed during the program

How do you create a tuple?<br><br>
using the tuple() method

## Sets

What is unique about a set?<br><br>
the unique feature of set that it can't have duplicated items or number twice. in other words its items are unique

Use a set to find the unique values of the list below:

In [28]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [29]:
unique_values = set(list5)
print(unique_values)

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [30]:
# Answer before running cell
2 > 3
# The answer is "False"

False

In [31]:
# Answer before running cell
3 <= 2
# The answer is "False"

False

In [32]:
# Answer before running cell
3 == 2.0
# The answer is "False"

False

In [33]:
# Answer before running cell
3.0 == 3
# The answer is "True"

True

In [34]:
# Answer before running cell
4**0.5 != 2
# The answer is "False"

False

Final Question: What is the boolean output of the cell block below?

In [35]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
# The answer is "False"

False

# Great Work!